asgiref==3.7.2
dj-database-url==2.1.0
Django==4.1.5
django-appconf==1.0.6
django-compressor==4.4
django-environ==0.11.2
psycopg2==2.9.9
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
