{% extends 'base.html' %}
{% load static %}
{% block body %} {% endblock %}
{% block footer %} {% endblock %}
{% block content %}
{% comment %} form errors {% endcomment %}
{% if form.non_field_errors %} {% for error in form.non_field_errors %}
<div id="toast-danger" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
        </svg>
        <span class="sr-only">Error icon</span>
    </div>
    <div class="ms-3 text-sm font-normal">{{error}}</div>
</div>
{% endfor %} {% endif %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
<div id="toast-danger" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
        </svg>
        <span class="sr-only">Error icon</span>
    </div>
    <div class="ms-3 text-sm font-normal">{{error}}</div>
</div>
{% endfor %} {% endif %}

<div>
    <div class="flex">
        <div class="w-[45%] h-screen flex justify-center">
            <div>
                <div>
                    <a href="{% url "home" %}">
                        <img src="{% static 'image/logo.svg' %}" alt="logo" class='mt-20 mb-20'>
                    </a>
                </div>
                <h1 class="text-2xl font-semibold mb-10">Sign Up</h1>
                <form method="post" class="w-[405px]">
                    {% csrf_token %} {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
                    
                    {% comment %} full name {% endcomment %}
                    <div class="mb-5">
                        <label for="{{form.full_name.id_for_label}}">{{form.full_name.label}}</label>
                        {{form.full_name}}
                        {% if form.full_name.errors %}
                            {% for error in form.full_name.errors %}
                            <p>{{error}}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
        
                    {% comment %} email {% endcomment %}
                    <div class="mb-5">
                        <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                        {{form.email}}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                            <p>{{error}}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
        
                    {% comment %} password1 {% endcomment %}
                    <div class="mb-5">
                        <label for="{{form.password1.id_for_label}}">{{form.password1.label}}</label>
                        {{form.password1}}
                        {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                            <p>{{error}}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
        
                    {% comment %} password2 {% endcomment %}
                    <div class="mb-5">
                        <label for="{{form.password2.id_for_label}}">{{form.password2.label}}</label>
                        {{form.password2}}
                        {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                            <p>{{error}}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
        
                    <button type="submit" class="text-center h-[50px] w-full bg-red-700 text-white font-semibold rounded-md">Sign Up</button>
                    <p class="text-gray-300 text-sm mt-3">Already have an account? <a class="text-red-700" href={% url "login" %}>Sign In</a></p>
                </form>
            </div>
            
        </div>
        
        <div class="w-[55%]">
            <img src="{% static 'image/authen-burger.jpg' %}" alt="" class="w-full object-cover h-screen">
        </div>
    </div>
</div>

{% endblock %}