* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.form {
    margin-top: 40px;
}

.todos {
    margin-top: 40px;
}

.todo {
    display: flex;
    gap: 10px;
    height: 50px;
    align-items: center;
}