<article class="mb-10">
    <h3 class="font-medium text-xl">Review this book</h3>
    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
    </div>
    {% endfor %} {% endif %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
        <p class="font-bold">Error!</p>
        <p class="block sm:inline">{{ error }}</p>
    </div>
    {% endfor %} {% endif %}
    <div class="flex items-center mb-4">
        <form action="{% url "review" pk=pk %}" method="post" class="w-full">
            {% csrf_token %} {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
            
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ form.text.id_for_label }}">
                </label> {{ form.text }} {% if form.text.errors %} {% for error in form.text.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %} {% endif %}
                <button type="submit" class="mt-3 bg-green-400 font-medium text-white px-7 py-2 rounded-full">Post</button>
        </form>
    </div>
</article>