{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'styles/output.css' %}">
    {% endcompress %}
    <title>Book Owl</title>
</head>
<body style="display:flex; flex-direction: column; min-height: 100vh;">
    <main>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
    </main>
    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>