<div class="hero min-h-full" style="background-image: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Hello there!</h1>
        <p class="mb-5">Welcome to book owl, a growing platform where you can find thousands of books to enrich your mind and borrow them with minimum deposition and get cash back when returned.</p>
        <a href="{% url "register" %}"><button class="btn btn-primary">Get Started</button></a>
      </div>
    </div>
</div>