{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-wrap justify-content-center">
{% for item in categories %}
    <div class="card" style="width: 18rem; margin: 40px">
        <img src="{{item.strCategoryThumb}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{item.strCategory}} {{item.idCategory}}</h5>
        <p class="card-text">{{item.strCategoryDescription | truncatewords:10 }}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}