<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "home" %}">Task Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "create_task" %}">Add Task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "create_category" %}">Add Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "show_tasks" %}">Show Tasks</a>
          </li>
        </ul>
      </div>
    </div>
</nav>