{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://em-content.zobj.net/source/microsoft/74/oncoming-automobile_1f698.png" type="image/x-icon">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    <title>Phi Cars</title>
</head>
<body>
    {% include 'navbar.html' %} 
    {% block content %}
    {% endblock content %}
</body>
</html>