{% extends 'base.html' %}
{% load static %}
{% block main %}
<style>
    .food-item:nth-child(1) {
        background-color: #dc2626;
        color: white;
    }
    .food-item:nth-child(1) button {
        background-color: white;
        color: #dc2626;
    }
</style>
    <section class="w-full">
        {% comment %} header {% endcomment %}
        <div class="flex justify-between items-center mt-5">
            <div>
                <h1 class="text-red-950 mb-5 text-4xl font-bold leading-normal">Enjoy Your <br><span class="text-red-700">Delicious</span> Food</h1>
                <p>Delivering your food to any corner of the city within <br>
                    30 minutes. Enjoy delicious foods anywhere anytime</p>
                <a href="{% url "login" %}"><button class="text-white font-semibold h-[50px] px-10 mt-8 bg-red-700 rounded-md">Get Started</button></a>
            </div>
            <div>
                <img src="{% static 'image/hero.png' %}" alt="">
            </div>
        </div>
        {% comment %} foods {% endcomment %}
        <div>
            <div class="mb-20">
                <div class="flex justify-between items-center mt-20 mb-10">
                    <h1 class="text-3xl font-bold text-red-950"><span class="text-red-700">Popular</span> Items</h1>
                    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-7 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Filter
                        </button>
                        
                        <!-- Dropdown menu -->
                        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href="{% url "home" %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                            </li>
                            {% for category in categories %}
                            <li>
                                <a href="{% url "filter" category=category.name %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{category.name}}</a>
                            </li>
                            {% endfor %}
                            </ul>
                        </div>
    
                </div>
                <div class="grid grid-cols-4 gap-5">
                    {% for food in foods %}
                        <div class="bg-rose-50 text-black h-[420px] rounded-md p-7 food-item">
                            <div class="grid justify-center h-[150px] items-center mb-4">
                                <img src="{{food.image}}" alt="" class="max-h-[150px] object-contain">
                            </div>
                            <div>
                                <h3 class="font-semibold text-xl">{{food.name}}</h3>
                                <div class="flex rating-food text-xs items-center" id="{{food.average_rating}} {{food.pk}} rating">
                                    <i class="fa-solid fa-star cursor-pointer text-gray-500" id="1 {{food.pk}} food"></i>
                                    <i class="fa-solid fa-star cursor-pointer text-gray-500" id="2 {{food.pk}} food"></i>
                                    <i class="fa-solid fa-star cursor-pointer text-gray-500" id="3 {{food.pk}} food"></i>
                                    <i class="fa-solid fa-star cursor-pointer text-gray-500" id="4 {{food.pk}} food"></i>
                                    <i class="fa-solid fa-star cursor-pointer text-gray-500" id="5 {{food.pk}} food"></i>
                                    <span class="ml-1">({{food.review.count}})</span>
                                </div>
                                <p class="mt-7 text-sm">{{food.description}}</p>
                                <div class="flex justify-between items-center mt-10">
                                    <h4 class="font-bold text-xl">${{food.price}}</h4>
                                    <a href="{% url "add_to_cart" pk=food.pk %}"><button class="bg-red-600 text-white px-5 py-2 rounded-md font-medium">Add to Cart</button></a>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
        {% comment %} marketing {% endcomment %}
        <div>
            <div class="flex justify-between items-center">
                <div>
                    <div>
                        <img src="{% static 'image/marketing-burger.png' %}" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <h1 class="text-red-950 text-4xl font-bold">Our <span class="text-red-700">Stories</span> Have <br>Adventures</h1>
                        <p>Our secret to success? A winning combination of passion, quality, <br>
                            and a commitment to crafting the most delicious burgers you've <br>
                            ever savored.
                        </p>
                        <div class="grid grid-cols-3 justify-between mt-10">
                            <div class="bg-red-600 text-white w-[101px] h-[101px] rounded-md flex flex-col justify-center items-center">
                                <i class="fa-solid fa-burger mb-1"></i>
                                <h4 class="font-bold">12K+</h4>
                                <p class="text-xs">Success Food</p>
                            </div>
                            <div class="bg-red-600 text-white w-[101px] h-[101px] rounded-md flex flex-col justify-center items-center">
                                <i class="fa-solid fa-award mb-1"></i>
                                <h4 class="font-bold">16K+</h4>
                                <p class="text-xs">Awards Winning</p>
                            </div>
                            <div class="bg-red-600 text-white w-[101px] h-[101px] rounded-md flex flex-col justify-center items-center">
                                <i class="fa-solid fa-briefcase mb-1"></i>
                                <h4 class="font-bold">5K+</h4>
                                <p class="text-xs">Customer Review</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} special discounts {% endcomment %}
        <div>
            <div class="mt-40 mb-20">
                <h1 class="text-3xl font-bold text-red-700 mb-10">Special Discount</h1>
                <div class="grid grid-cols-2 gap-12">
                    {% for food in discounted_foods %}
                        <div class="flex h-[329px] shadow-lg rounded-md">
                            <div class="w-[50%]">
                                <img src="{{food.image}}" alt="" class="h-full object-cover rounded-l-md">
                            </div>
                            <div class="w-[50%] px-5 pt-10">
                                <div>
                                    <h3 class="font-semibold text-xl mb-5">{{food.name}}</h3>
                                    <p class="hidden discount-description">{{food.description}}</p>
                                </div>
                                <div class="flex justify-between mt-20">
                                    <div>
                                        <p class="font-bold text-red-600 text-xl">${{food.discount_price}}</p>
                                        <p class="text-sm line-through text-gray-400">${{food.price}}</p>
                                    </div>
                                    <a href="{% url "add_to_cart" pk=food.pk %}"><button class="bg-red-600 text-white font-medium px-5 py-2 rounded-md">Add to Cart</button></a>
                                </div>
                            </div>
                            
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
        {% comment %} reviews {% endcomment %}
        <div>
            <div class="mt-32 mb-20">
                <h1 class="text-4xl font-bold text-red-950 mb-20 text-center">Hear from our <span class="text-red-700">customers</span></h1>
                <div>
                    <div class="swiffy-slider slider-item-show3 slider-nav-outside slider-nav-dark slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-fadein ">
                        <ul class="slider-container py-4">
                            {% for review in reviews %}
                            <li>
                                <div class="w-[392px] min-h-[296px] bg-rose-50 p-6 rounded">
                                    <div>
                                        <div class="flex gap-1  my-5 rating-review" id="{{review.rating}} {{review.pk}} rating">
                                            <i class="fa-solid fa-star cursor-pointer text-gray-500" id="1 {{review.pk}} review"></i>
                                            <i class="fa-solid fa-star cursor-pointer text-gray-500" id="2 {{review.pk}} review"></i>
                                            <i class="fa-solid fa-star cursor-pointer text-gray-500" id="3 {{review.pk}} review"></i>
                                            <i class="fa-solid fa-star cursor-pointer text-gray-500" id="4 {{review.pk}} review"></i>
                                            <i class="fa-solid fa-star cursor-pointer text-gray-500" id="5 {{review.pk}} review"></i>
                                        </div>
                                        <div style="display: grid;
                                        grid-template-rows: auto 1fr auto;
                                        min-height: 200px;">
                                            <div style="display: flex;
                                            align-items: center;">
                                                <div>
                                                    <h3 class="font-semibold">{{review.heading}}</h3>
                                                    <p>
                                                        {{review.review}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="mt-auto mb-auto" style="margin-top: auto; margin-bottom: auto;">
                                                <p><span class="font-medium">{{review.user.account.full_name}}</span>, <span class="font-light">{{review.date}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    
                        <button type="button" class="slider-nav" aria-label="Go left"></button>
                        <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        const handleRating = () => {
            let elements = document.getElementsByClassName("rating-food")
            Array.from(elements).forEach((element) => {
                let rating = element.id
                rating_arr = rating.split(" ")
                rating = rating_arr[0]
                id = rating_arr[1]
                for(let i = 1; i <= rating; i++)
                {   
                    elem_id = String(i) + " " + String(id) + " food"
                    console.log(elem_id)
                    const star = document.getElementById(elem_id)
                    star.classList.remove("text-gray-500")
                    star.classList.add("text-yellow-300")
                }  
            })
        }

        const handleReviewRating = () => {
            let elements = document.getElementsByClassName("rating-review")
            console.log(elements)
            Array.from(elements).forEach((element) => {
                let rating = element.id
                rating_arr = rating.split(" ")
                rating = rating_arr[0]
                id = rating_arr[1]
                for(let i = 1; i <= rating; i++)
                {   
                    elem_id = String(i) + " " + String(id) + " review"
                    console.log(elem_id)
                    const star = document.getElementById(elem_id)
                    star.classList.remove("text-gray-500")
                    star.classList.add("text-yellow-300")
                }  
            })
        }

        const handleDiscountFoodDescription = () => {
            let elements = document.getElementsByClassName("discount-description")

            Array.from(elements).forEach((element) => {

                let description = element.innerText
                let points = description.split("\n")
                for(point of points)
                {
                    const p = document.createElement("p")
                    p.classList.add("text-[#ABABAE]")
                    p.classList.add("mb-2")
                    p.innerHTML = `<span class="text-red-600"><i class="fa-regular fa-circle-check"></i></span> ${point}`
                    element.parentNode.appendChild(p)
                }
            })
        }
        
        handleDiscountFoodDescription()
        handleRating()
        handleReviewRating()
    </script>
{% endblock %}