{% extends 'base.html' %}

{% block main %}
    <section class="flex justify-center mb-20">
        <div class="w-[85%]">
            <h1 class="text-5xl font-bold text-red-950 mt-10 mb-10">Payments</h1>
            {% if object_list %}
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="pl-6 py-3 ">
                                # Payment
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Type
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in object_list %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="pl-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{payment.payment_id}}
                                </td>
                                <td class="px-6 py-4">
                                    {{payment.date}}
                                </td>
                                <td class="px-6 py-4">
                                    {% if payment.transaction_type == 'Deposit' %}
                                    <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{{payment.transaction_type}}</span>
                                    {% else %}
                                    <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">{{payment.transaction_type}}</span>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4">
                                    ${{payment.amount}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="font-semibold bg-red-600 text-white">
                            <th scope="row" class="px-6 py-3 text-base">Total</th>
                            <td class="px-6 py-3"></td>
                            <td class="px-6 py-3"></td>
                            <td class="px-6 py-3">${{user.wallet.balance}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            {% else %}
            <div>
                <h3 class="text-xl font-semibold">No payment has been made yet.</h3>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}