<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
    {% load static %}
    <img src="{% static 'images/city.jpg' %}" alt="city image" style="width:300px;"/>
    <img src="{% static 'images/fire.jpg' %}" alt="city image" style="width:300px;"/>
    <img src="{% static 'images/illustration.jpg' %}" alt="city image" style="width:300px;"/>
</body>
</html>