{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center;">
  <div style="width: 500px; margin: 30px 0px; position: relative;">
    <img src="{% static 'images/team.png' %}" alt="" style="width:100%; margin-bottom: 20px;">
    <h1 style="text-align: center;">Hero Restaurant</h1>
    Welcome to Hero Restaurant, where culinary passion meets a commitment to
  excellence. Nestled in the heart of heroacademy, our restaurant is a haven for
  those who appreciate the artistry of fine dining. Founded with a vision to
  redefine the gastronomic experience, Hero Restaurant is not just a place to
  eat; it's a celebration of flavors, a fusion of creativity and tradition that
  culminates in every dish we serve. Our chefs, driven by an unwavering
  dedication to their craft, curate a menu that showcases the best of locally
  sourced, seasonal ingredients, prepared with precision and flair. Beyond the
  exceptional cuisine, our ambiance is a testament to our belief that dining is
  an experience to be savored. Step into a warm and inviting atmosphere that
  invites you to linger, where attentive service and thoughtful details elevate
  every visit into a cherished memory. At Hero Restaurant, we believe in more
  than just providing a meal; we strive to create moments of connection and joy.
  Whether you're joining us for an intimate dinner, celebrating a special
  occasion, or simply seeking a culinary escape, our team is dedicated to
  ensuring that your experience is nothing short of extraordinary. We invite you
  to explore the story behind each dish, discover the passion woven into every
  ingredient, and join us in celebrating the art of gastronomy. Thank you for
  being a part of the Hero Restaurant journey—we look forward to sharing the
  table with you and creating lasting memories together. Welcome to a world
  where every meal is a masterpiece, and every visit is an occasion.
</div>
</div>
{% endblock %}
